<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pelican Plugins</title>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/app.css" />
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/modernizr.js"></script>
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/foundation.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/app.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript">
        $('.temp').each(function() {
            $(this).children('.mlink').matchHeight(true);
        });
    </script>
  </body>
</html>
