{% extends 'base.html' %}

{% block content %}
    <header class="row">
        <div class="large-12 columns">
            <h1>PELICAN PLUGINS</h1>
            <p>A collection of plugins for pelican</p>
        </div>
    </header>

    <div class="row">
        <div class="or-spacer">
            <div class="mask"></div>
        </div>
    </div>

    <section class="row">
        <div class="large-12 columns">
            <h2 id="the-plugins">The Plugins</h2>
            <p>Plugins are a way to add features to Pelican without having to directly modify the Pelican core</p>
        </div>
        <div class="large-12 columns">
            <ul class=" temp small-block-grid-1 medium-block-grid-2 large-block-grid-3">
            {% set i = 0 %}
            {% for article in articles|sort(attribute='title') %}
                <li class="mlink">
                    <a href="#" data-reveal-id="{{'m' ~ i}}">{{ article.title }}</a>
                    <div id="{{'m' ~ i}}" class="modal reveal-modal" data-reveal>
                        <h2>
                            <a href="{{ article.link }}">{{ article.title }}</a>
                        </h2>
                        <article>{{ article.content }}</article>
                        <a class="close-reveal-modal">&#215;</a>
                    </div>
                </li>
            {% set i = i + 1 %}
            {% endfor %}
            </ul>
        </div>
    </section>

    <div class="row">
        <div class="or-spacer">
            <div class="mask"></div>
        </div>
    </div>

    <footer class="row">
        <div class="large-12 columns">
            <span>Built by</span>
            <h2><a href="https://github.com/nikhilkalige">Nikhil Kalige</a></h2>
        </div>
    </footer>
{% endblock %}
