@font-face {
    font-family: 'open_sans';
    src: url('fonts/open_sans/OpenSans-Regular-webfont.eot');
    src: url('fonts/open_sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open_sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/open_sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/open_sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Six';
    src:
         url('fonts/SixCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ruthie';
    src:
         url('fonts/Ruthie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src:
         url('fonts/BebasNeue.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EDEDED;
    font-size: 18px;
}

header {
    padding-top: 5em;
    position: relative;
    //padding-top: 8em;
    text-align: center;
    overflow: hidden;

    h1 {
        font-family: six;
        font-size: 4em;
    }

    p {
        font-family: 'open_sans';
        font-size: 1.4em;
        margin: 1em 0;
    }
}

dl dd {
    margin-bottom: 2px;
}


/* @media only screen and (min-width: 64.063em)
    .large-block-grid-3 > li {
        width: 33.33333%;
        list-style: none;
    }
@media only screen and (min-width: 40.063em)
    .medium-block-grid-2 > li {
        width: 50%;
        list-style: none;
    }
@media only screen
    .small-block-grid-1 > li {
        width: 100%;
        list-style: none;
    } */
section {

    #the-plugins {
        font-size: 3em;
        margin-bottom: .5em;
        font-family: "six";
        text-transform: uppercase;
        color: #262727;
        text-align: center;
        font-weight: 500;
    }
    #the-plugins +  p {
        font-family: 'open_sans';
        font-size: 1.4em;
        text-align: center;
        padding-bottom: 2em;
    }

    & > div {
        text-align: center;
    }

    ul {
        margin: 0 0.625rem;
    }

    .mlink {
        text-align: center;
        padding: 0rem 0.625rem;
        display: table;

        & > a {
            display: table-cell;
            vertical-align: middle;

            font-family: "BebasNeue";
            font-size: rem-calc(30);
            line-height: 1.2;

            position: relative;

            //.btn {
            border: 3px solid #000;
            background: none;
            cursor: pointer;
            padding: rem-calc(25) rem-calc(40);
            text-transform: uppercase;
            outline: none;
            position: relative;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;

            &:after {
                content: '';
                position: absolute;
                z-index: -1;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
            }

            &:hover,
            &:active {
                color: #eee;
                background: #555;
                border-color: #f06060;
            }
        }
    }

    /* .accordion {
        transition: all 0.5s linear;
        //width: 400px;
        margin: 10px auto 30px auto;
        text-align: left;

        dd {
            margin-bottom: 2px;
            padding: 1.5em 2em;
            background: #fff;
        }

        & dd > a {
            font-family: 'six';
            font-size: 2.5em;
            padding: 5px 20px;
            position: relative;
            z-index: 20;
            display: block;
            height: 40px;
            cursor: pointer;
            color: #777;
            color: #393b40;
            color: #262727;
            text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
            line-height: 33px;
            background: #ffffff;
            text-transform: uppercase;

            &:hover{
                background: #fff;
            }

            &:after {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                right: 13px;
                top: 7px;
                background: transparent url(../images/arrow_down.png) no-repeat center center;
            }
        }
        & dd.active a:after {
            background-image: url(../images/arrow_up.png);
        }

        & dd.active a, & dd.active a:hover {
            background: #fff;
            //color: #3d7489;
            //text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
            /* box-shadow:
                0px 0px 0px 1px rgba(155,155,155,0.3),
                0px 2px 2px rgba(0,0,0,0.1);
        }

        article{
            background: #fff;
            margin-top: -1px;
            overflow: hidden;
            position: relative;
            z-index: 10;

            padding-left: 26px;

            font-size: 1.5rem;
            font-family: 'oswald';

            -webkit-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
            -moz-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
            -o-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
            -ms-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
            transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;

            & > :first-child {
                padding-top: 40px;
            }

            a {
                color: #41B7D8;

                &:hover {
                    color: #d17;
                }
            }

            ul, ol, dl {
                font-size: 1.5rem;
            }

            h1,h2,h3,h4,h5 {
                text-align: center;
                font-family: 'six';
            }

            p {
                font-size: inherit;
            }

            .literal, code, pre {
                padding: 0 3px 2px;
                font-family: Menlo, Monaco, "Courier New", monospace;
                font-family: "Ubuntu Mono";
                font-size: 1.1rem;
                color: #444;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
            .literal, code {
                padding: 3px 4px;
                color: #d14;
                background-color: #f7f7f9;
                border: 1px solid #e1e1e8;
            }

            pre {
                display: block;
                padding: 8.5px;
                margin: 0 0 9px;
                line-height: 1.5;
                background-color: #f5f5f5;
                border: 1px solid #ccc;
                border: 1px solid rgba(0,0,0,0.15);
                white-space: pre;
                white-space: pre-wrap;
                word-break: break-all;
                word-wrap: break-word;
            }
            pre.prettyprint {
                margin-bottom: 18px;
            }
            pre code {
                padding: 0;
                color: inherit;
                background-color: transparent;
                border: 0;
            }

            table {
                margin: 0 auto;

                td, th {
                    text-align: center;
                }
            }
        }
    }*/
}

footer {

    text-align: center;
    padding-bottom: 7em;

    span {
        display: block;
        text-transform: uppercase;
        font-family: "six", sans-serif;
        //color: #a3a3a4;
        font-size: 1.4em;
    }

    h2 {
        font-family: "impact";
        font-size: 2em;
        height: 1em
    }

    a {
        font-family: "ruthie";
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
        color: #000DA6;
        font-size: rem-calc(80);
    }

    a::before {
        position: absolute;
        top: 150%;
        left: 50%;
        color: transparent;
        content: '•';
        text-shadow: 0 0 transparent;
        font-size: 3rem;
        -webkit-transition: text-shadow 0.3s, color 0.3s;
        -moz-transition: text-shadow 0.3s, color 0.3s;
        transition: text-shadow 0.3s, color 0.3s;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        pointer-events: none;
    }

    a:hover::before,
    a:focus::before {
        color: #000;
        text-shadow: 40px 0 #000, -40px 0 #000;
    }

    a:hover,
    a:focus {
        color: #111;
    }
}

.or-spacer {
  margin: 5em auto;
  position:relative;

  .mask {
    overflow:hidden; height:20px;
    &:after {
      content:'';
      display:block; margin:-25px auto 0;
      width:100%; height:25px;
      border-radius:125px / 12px;
      box-shadow:0 0 8px black;
    }
  }
}

.modal {
    //color: #fff;
    background: #e74c3c;
    background: #fff;
    border-radius: 3px;

    &>h2 {
        margin: 0;
        padding: 0.4em;
        text-align: center;
        font-size: 2.4em;
        font-weight: 300;
        opacity: 0.8;
        background: rgba(0,0,0,0.1);
        border-radius: 3px 3px 0 0;
        transition: all 0.3s linear;


        a {
            position: relative;
            padding: 0 1rem;
            &:after {
                content: "";
                width: 64px;
                height: 64px;
                margin: 0 5px 0 0;
                background: url(../images/github.svg);
                background-position: 0 0px;
                display: inline-block;
                top: -7px;
                left: -64px;
                position: absolute;
                opacity: 0;
            }

            &:hover {
                color: #41B7D8;
            }

            &:hover:after {
                opacity: 1;
            }
        }
    }

    article  {
        background: #fff;
        margin-top: -1px;
        overflow: hidden;
        position: relative;
        z-index: 10;

        padding: 0 rem-calc(36) rem-calc(40) rem-calc(36);

        font-size: 1.2rem;
        font-family: 'open_sans';

        -webkit-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
        -moz-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
        -o-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
        -ms-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
        transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;

        & > :first-child {
            padding-top: 40px;
        }

        a {
            color: #41B7D8;

            &:hover {
                color: #d17;
            }
        }

        ul, ol, dl {
            font-size: 1.2rem;
        }

        h1,h2,h3,h4,h5 {
            text-align: center;
            font-family: 'BebasNeue';
        }

        p {
            font-size: inherit;
        }

        .literal, code, pre {
            padding: 0 3px 2px;
            font-family: Menlo, Monaco, "Courier New", monospace;
            font-family: "Ubuntu Mono";
            font-size: 1.1rem;
            color: #444;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
        .literal, code {
            padding: 3px 4px;
            color: #d14;
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
        }

        pre {
            display: block;
            padding: 8.5px;
            margin: 0 0 9px;
            line-height: 1.5;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,0.15);
            white-space: pre;
            white-space: pre-wrap;
            word-break: break-all;
            word-wrap: break-word;
        }
        pre.prettyprint {
            margin-bottom: 18px;
        }
        pre code {
            padding: 0;
            color: inherit;
            background-color: transparent;
            border: 0;
        }

        table {
            margin: 0 auto;

            td, th {
                text-align: center;
            }
        }
    }
}

.modal-h2-hover {
    background: rgba(0,0,0,0.8) !important;
}
